version: '3'

services:
  # 1. SDV Producer (App của chúng ta)
  sdv-producer:
    build: .
    env_file:
      - .env
    volumes:
      # Mount volume để sau khi train xong, file model không bị mất khi tắt container
      - ./model_storage:/app/models/
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Giới hạn 10MB mỗi file log
        max-file: "3"     # Chỉ giữ tối đa 3 file log