version: '3'

services:
  # 1. SDV Producer (App của chúng ta)
  sdv-producer:
    build: .
    env_file:
      - .env
    volumes:
      # Mount volume để sau khi train xong, file model không bị mất khi tắt container
      - ./model_storage:/app/models/
    logging:
      driver: "json-file"
      options:
        max-size: "2m"   # Giới hạn 2MB (~2 giờ logs)
        max-file: "2"     # Chỉ giữ tối đa 2 file log